body{
    background-color: rgb(68, 67, 67);
    position: relative;
}

.liahtDark {
    width: 220px;
    height: .8%;
    /* background-color: darkorange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 80%;
    border: 1px solid black;
    /*border-radius: 15%;*/
}

.liahtDark img {
    width: 55px;
    height: 100%;
}

.liahtDark button {
    width: 50%;
}

.details {
    width: 300px;
    height: 150px;
    background-color: red;
    margin-left: 2%;
    align-items: center;
}